<h1>let's edit <%=@set[:name]%></h1>
<form action="/sets/<%=@set[:name]%>" method="post">
  <label>Set Name</label>
  <input type="text" name="setname" value="<%=@set[:name]%>">
  <label>List of Videos</label>
  <textarea name="videolist"><%=@text%></textarea>
  <label>Playlist Description</label>
  <textarea name="description"><%=@desc%></textarea>
  <input type="submit">
  
</form>

<form action="/sets/<%=@set[:name]%>" method="post" >
<input name="_method" type="hidden" value="delete" />
<input type="submit" value="delete this set" />
</form>
